<h4>Organizers</h4>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ziwen.jpg" />
  </div>
  <div class="col-5">
    <b>Ziwen Hou</b> is the leader of PClassic. He is a senior studying Computer Science with a minor in Data Science. Aside from coding, he also enjoys playing video games and watching shows. His other hobbies will always fluctuate, which includes learning how to draw and learning how to play piano. But even if his hobbies are not always the same, at least he is always pushing forward to learn new things and try new experiences!
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/meggie.jpg" />
  </div>
  <div class="col-5">
    <b>Meggie Cheng</b> is a senior in Digital Media Design in SEAS. She was born in NYC but was raised in Houston, Texas and went to Cypress Woods High School. Her hobbies include competitive programming (did in high school), digital painting, reading webtoons.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/tien.jpg" />
  </div>
  <div class="col-5">
    <b>Tien Pham</b> is a senior enrolled in the Penn Computer and Cognitive Science: Artificial Intelligence program. He moved from Vietnam at the age of five and attended Emmaus High School. Throughout his four years there, he participated in a multitude of programming contests. This is his first year on the PClassic organizing team.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Brian Chen</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Vatsin Suchak</b> Not pictured
  </div>
</div>
{{!-- <div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Ani Machaidze</b> Not pictured
  </div>
</div> --}}
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Andrew Zhao</b> Not pictured
  </div>
</div>
{{!-- <div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Yuxi Dai</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Zhihang Yuan</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Ethan Chee</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Grace Lee</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Helena Zhang</b> Not pictured
  </div>
</div> --}}
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ishaan.png" />
  </div>
  <div class="col-5">
    <b>Ishaan Lal</b> is a sophomore studying Computer Science and Mathematics. He went to Emmaus High School, and participated in plenty of programming and math competitions. Some of his hobbies include solving crossword puzzles, speedrunning arithmetic, playing music, and gardening.
  </div>
</div>
{{!-- <div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Aaron Mei</b> Not pictured
  </div>
</div> --}}
<hr>
<h4>Previous Years</h4>
<ul class="no-bullet">
    <li><a href="/organizers/alumni/">Other Members</a></li>
<ul>