<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools. <b>We will be allowing middle school students to participate in the 2021 competition for free!</b>
</p>

<p>Note, we will be working on remaking our website next year!</p>

<p>If you would like a shirt, order <a href="https://tinyurl.com/pclfa21shirts">here</a>!<br>
Additionally, we would appreciate if you could give us some feedback for the competition <a href="https://tinyurl.com/pclfa21feedback">here</a>! Our goal is to make PClassic better every year!</p>

<h4>PClassic Fall 2021 Summary</h4>

<p>
PClassic had their first virtual competition, hosted on CodeChef [<a href="https://www.codechef.com/PCFN2021">Novice</a>, <a href="https://www.codechef.com/PCFL2021">Standard</a>]! The competition 
took place on Saturday November 20th, 2021.
<br><br>
The contest theme this year was animals that begin with P!<br>
1st place a trophy, a free PClassic shirt, and a prize item.<br>
2nd place received a trophy and a prize item.<br>
3rd place received a trophy.<br>
Prize item is a choice between: Amazon Echo Dot, Mechanical Keyboard, Otamatone.
</p>

<p>
The top 3 teams this year in the Standard division were:
<br>
1) (a) <i>Brandywine High School</i> and (b) <i>The Charter School of Wilmington</i> - Jonathan Pei (a), Anand John (a), Nathan Zhao (b), Jack Wu (b)
<br>
2) <i>Stuyvesant High School</i> - Maxwell Zen, Alvin Li, Mohammad Khan, Jeremy Ku-benjet
<br>
3) (a) <i>BASIS Independent Silicon Valley</i>, (b) <i>Newark Academy</i> and (c) <i>Henry M. Gunn High School</i> - Elijah Huang (a), Ian Zhang (b), Stanley Zhong (c), William Tsin (c)
<br>
<br>
The top team in this Novice division was: 
<br>
<i> River Hill High School </i> - Rayhan Zirvi, Florin Selaru, William Zhong
<br>
<br>
Congratulations to the winning teams! <br><br></p>

<p>
10:00 am - AMA: <a href="https://youtu.be/pXn3FCc8LuI">Youtube Live</a> 
<br>
11:00 am - Opening: <a href="https://youtu.be/U35dXlFs3Ak">Youtube Live</a>
<br>
12:00 pm - Contest Problem Clarifications: <a href="https://upenn.zoom.us/j/97070644220">Zoom</a>
<br>
Note: Join the Zoom only if you have a question
<br>
4:00 pm - Closing: <a href="https://youtu.be/ItK2698uHT0">Youtube Live</a>
</p>

<h4>Past Announcements</h4>

<p>[11/9] - There is now an AMA from 10 am to 11 am with Meggie Cheng and Vatsin Suchak, two seniors in PClassic who have worked in the Gaming Industry and FAANG as Software Engineers! Is there anything you want them to talk about or answer? Ask <a href="https://forms.gle/vy5jLicMWP9cewUM9">here</a>! Feel free to also ask in the chat during the live session!
</p>
<br>

<p>[10/28] - Hello everyone! <a href="https://forms.gle/L7o1h7tjfrthGTA89">Registration</a> has opened for the contest! Each team will need to provide a CodeChef username to gain access to the private competition. Please do so by <b>Sunday Nov 14</b>. The new rules are in a doc under the Rules tab.
</p>
<br>

<p>
[9/15] - After a year and a half hiatus, we are excited to announce that we will finally be having an online coding competition this semester! It is planned to be on a Saturday mid-November. More details about the competition and forms will be out soon.
We are truly sorry for the long wait and are looking forward to seeing you all again!</p>
</p>

<p>
To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions.
</p>