<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>
<p> PClassic Fall 2017 will be held on Saturday, November 18th, 2017. Please be sure to fill out and bring the <a href = "http://pclassic.org/files/PClassicWaiver.pdf">waiver</a> form. The rules, information, and schedule can be found <a href = "http://pclassic.org/files/PClassicRulesInfoSchedule.pdf">here</a>. </p>
<p> The team registration form can be found <a href = "https://goo.gl/forms/0gIke60VX8UkswS63">here</a>. Please fill out this form to register your team. </p>

<p>
  The most recent PClassic took place on April 29th, 2017 and a
  writeup of the results can be found <a href="/2017s">here</a>. To recieve updates about cuurent and future contests register for our mailing list <a href="/mail">here</a>
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions!
</p>
