<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>
<p>
Registration for PClassic competition Fall 2019 is closed. In the previous contest, Penn Lecturer Adam Mally gave a talk on computer graphics and design. Here are the relevant links:
<br> 
<a href="https://www.shadertoy.com/user/iq/sort=popular&from=0&num=8">https://www.shadertoy.com/user/iq/sort=popular&from=0&num=8</a>
<br> 
<a href="https://www.iquilezles.org/apps/graphtoy/index.html">https://www.iquilezles.org/apps/graphtoy/index.html</a>
<br>
<a href="https://github.com/mxgmn/WaveFunctionCollapse">https://github.com/mxgmn/WaveFunctionCollapse</a>
<br>
<a href="https://github.com/sgalban/platformer-gen-2D">https://github.com/sgalban/platformer-gen-2D</a>
<br>
<a href="https://docs.google.com/presentation/d/1gm7Vnr98wBbg2CiTyXIjJYYTKvAjvROk96_gUTMXao0/edit#slide=id.g259f68b5f4_0_141">https://docs.google.com/presentation/d/1gm7Vnr98wBbg2CiTyXIjJYYTKvAjvROk96_gUTMXao0/edit#slide=id.g259f68b5f4_0_141</a>
<br>
<a href="https://www.youtube.com/watch?v=42R-isPePdA&feature=youtu.be">https://www.youtube.com/watch?v=42R-isPePdA&feature=youtu.be</a>
<br>
<a href="https://vimeo.com/246804026">https://vimeo.com/246804026</a>
<br>
<a href="https://github.com/LanLou123/Webgl-Erosion">https://github.com/LanLou123/Webgl-Erosion</a>
<br>
<a href="https://github.com/whaoran0718/hw04-l-systems">https://github.com/whaoran0718/hw04-l-systems</a>
<br>
<a href="http://www.kevs3d.co.uk/dev/lsystems/">http://www.kevs3d.co.uk/dev/lsystems/</a>
</p>

<p>
To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions.
</p>
