<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>
<p>
  The most recent PClassic took place on November 14th, 2016 and a
  writeup of the results can be found <a href="/2016f">here</a>. Registration for PClassic 2017s is now open! It will be held on April 29th and if you would like to attend just fill out this <a href="https://goo.gl/forms/m7iSvHTqnjBZ122L2">registration form</a>. To recieve updates about cuurent and future contests register for our mailing list <a href="/mail">here</a>
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions!
</p>
