<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>

<p>
  The most recent PClassic took place on April 7th, 2018 and a
  writeup of the results can be found <a href="/2018s">here</a>. To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions!
</p>
