<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>
<p>
  The most recent PClassic took place on November 14th, 2015, and a
  writeup of the results can be found <a href="/2015f">here</a>. The next PClassic, PClassic 2016 Spring, will take place next semester probably in March. If you would like to attend please sign up for our mailing list <a href="/mail">here</a> to receive info about it.
</p>
<p>
Feel free to <a href="mailto:pclassic@gmail.com">email us</a> at <b>pclassic@gmail.com</b> if you have any questions!
</p>
