<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools. We will be allowing middle school students to participate in the competition as well!
</p>

<h4>PClassic Fall 2022</h4>

<p>
Contest Date: <b>Saturday, November 19 2022</b><br>
Location: Virtual on <b>CodeChef</b>
</p>

<p> We have a Tech Talk with Professor Travis McGaha at 10 am! The topic of the tech talk is: <b>Intro to the Field of Systems and Computer Science</b></p>

<p>10:00 AM: Tech Talk [<a href="https://upenn.zoom.us/j/8258795174">Zoom</a>]</p>
<p>11:00 AM: Kick Off [<a href="https://www.youtube.com/watch?v=9vZDrwt_A7w">Youtube</a>]</p>
<p>12:00 PM: Contest [CodeChef: <a href="https://www.codechef.com/PCFN2022">Novice</a> | <a href="https://www.codechef.com/PCFS2022">Standard</a> | <a href="https://upenn.zoom.us/j/8258795174">Zoom</a>]</p>
<p>4:00 PM: Q/A and Awards [<a href="https://www.youtube.com/watch?v=-TENT2jDxIo">Youtube</a>]</p>

<p>To register for your team, sign up <a href="https://forms.gle/3nFPWsopqCQf8a3D7">here</a>! Note that we may finally have our long yearned in person competition in the spring! Additionally, our new and updated website is planned to release in the spring! Stay tuned for more updates as we are always striving to make our contest better each year!</p>

<p>
To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions.
</p>
