<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>
<p>
<b>Spring 2020 Update: </b>
<br>
The competition date is <b>tentatively</b> on April 4th, 2020. Unfortunately, we understand that this is also the date of the ACT. We apologize for the date conflicts. In addition, we are still waiting for the competition location to be reserved. Once the location has been reserved, registration for the competition will open.
</p>

<p>
To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions.
</p>
