<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>

<p>
<b>Spring 2020 Update:</b>
<br>
With the continuous spread of the coronavirus throughout the country, the University of Pennsylvania has taken precautionary effect to prevent the spread of the disease. After much thought, we are sadly announcing that the <b>PClassic Spring 2020 competition has been cancelled</b>. We still plan to host a Fall 2020 competition and will send updates when the time approaches. Please stay safe and take good care of your hygiene. We hope to see you again in the fall!
</p>

<p>
To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions.
</p>
