<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools.
</p>

<p>
The most recent PClassic competition was PClassic Spring 2018 on April 7th, 2018. A writeup of the competition can be found <a href="/2018s">here</a>.
</p>

<p>
  The next PClassic competition (Fall 2018) will take place on November 17, 2018. To register teams for your school, register at the link <a href="https://goo.gl/forms/SIVO84l67C7FZrkF3">here</a>. To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions!
</p>
