<p>
The Philadelphia Classic (PClassic) is a semesterly programming competition for high school students hosted by us (the Dining Philosophers) at the University of Pennsylvania. Prizes and awards are given out to the top scoring teams, and <b>registration for the competition is free</b> for all high schools. <b>We will be allowing middle school students to participate in the 2021 competition for free!</b>
</p>

<p>
<b>Fall 2021 Update:</b>
<br>

<p>
<b>Competition Date: Saturday, November 20</b>
</p>

<p>
<b>Location: Virtual via CodeChef</b>
</p>

<p><b>(NEW!)</b> Hello everyone! <a href="https://forms.gle/L7o1h7tjfrthGTA89">Registration</a> has opened for the contest! Each team will need to provide a CodeChef username to gain access to the private competition. Please do so by <b>Sunday Nov 14</b>. The new rules are in a doc under the Rules tab.
</p>
<br>

<p>
[9/15] - After a year and a half hiatus, we are excited to announce that we will finally be having an online coding competition this semester! It is planned to be on a Saturday mid-November. More details about the competition and forms will be out soon.
We are truly sorry for the long wait and are looking forward to seeing you all again!</p>
</p>

<p>
To recieve updates about current and future contests register for our mailing list <a href="/mail">here</a>.
</p>
<p>
Feel free to <a href="mailto:organizers@pclassic.org">email us</a> at <b>organizers@pclassic.org</b> if you have any questions.
</p>
