<h4>Frequently Asked Questions</h4>
<p>If you have questions that aren't answered here (or that ought to be answered here), please <a href="mailto:pclassic@gmail.com">email us</a> at pclassic@gmail.com!</p>
<!--<h6>I want to come - what do I need to do/bring?</h6>
<p style="margin-left: 20px">First, make sure your school has registered! Then:
<ol>
  <li>Each school must bring an adult chaperone.
  <li>Each team must bring a laptop with a Java development environment set up.
  <li>Each student must bring a signed <a href="files/PClassicWaiver.pdf">waiver</a>.
  <li>Teams might also like to bring pencils, paper, and a reference textbook. </li>
</ol></p>-->
<h6>Where is the competition held?</h6>
<p style="margin-left:20px">The Towne Building of Penn Engineering, located at 220 S. 33rd St, Philadelphia, PA</p>. Note that check-in/registration takes place in the adjacent (and connected) Levine Hall, located at 3330 Walnut St.
<h6>Will there be food?</h6>
<p style="margin-left:20px">Yes! We provide free pizza for lunch and also offer concessions.</p>
<h6>Does an adult need to come?</h6>
<p style="margin-left:20px">We ask that each school has an adult chaperone. That person doesn't need to be a teacher - it can be a parent or other involved person - but we need someone to be responsible for getting everyone here and then back home. Please email us if this would be an issue; we've made exceptions for special cases in the past. </p>
<h6>How many people should I bring?</h6>
<p style="margin-left:20px">At least two; teams should be at least two people, but are generally four. Most schools bring 2-3 teams, but many also bring 5 or 6. If you're thinking about bringing more than 6 teams, please email us so we can discuss it. </p>
