<h4>History</h4>
<p>PClassic began in 1998 as an annual programming contest for high schoolers, put on each spring by the Dining Philosophers, Penn's computer science student group.</p>

<p>Numbers started to pick up in 2012 as PClassic registered around 100 participants, and then clocked over 150 in 2013. Someone graduated that year and responsibility for the contest was handed down; the next team made some changes to accommodate the apparent growth. The beginner-oriented novice division was introduced, and PClassic started to be held twice a year. This resulted in 300 participants in 2013 Fall, only to be surpassed by 350 in 2014 Fall.</p>

<p>PClassic t-shirts made a one-off appearance in 2012, then returned in 2013 Fall and have appeared with a different color each semester since.</p>

<h4>Past Contests</h4>
<ul class="no-bullet">
  <li><a href="/2018f">Fall 2018</a></li>
  <li><a href="/2018s">Spring 2018</a></li>
  <li><a href="/2017f">Fall 2017</a></li>
  <li><a href="/2017s">Spring 2017</a></li>
  <li><a href="/2016f">Fall 2016</a></li>
  <li><a href="/2016s">Spring 2016</a></li>
  <li><a href="/2015f">Fall 2015</a></li>
  <li><a href="/2015s">Spring 2015</a></li>
  <li><a href="/2014f">Fall 2014</a></li>
  <li><a href="/2014s">Spring 2014</a></li>
  <li><a href="/2013f">Fall 2013</a></li>
  <li><a href="/2013s">Spring 2013</a></li>
  <li><a href="/2012">Spring 2012</a></li>
</ul>
