<h4>Organizers</h4>
<div class="row">
  <div class="four columns">
    <img width="240" src="/files/images/organizers/nate.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Nate Chodosh</strong> is a senior in the School of Engineering and Applied Science studying Computer Science with Physics and Math minors. He went to West Chester East High school in West Chester, Pennsylvania where he was active in programming contests and even participated in PClassic. In addition to  organizing PClassic for the seventh time, now as lead, he works on Computer Vision research in the GRASP laboratory as well as TAing Penn's undergraduate algorithms course.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img width="240" src="/files/images/organizers/zhan.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Zhan Xiong Chin</strong> is a junior at Penn studying Computer Science. He comes from Singapore, which is halfway around the world and not in China. He enjoys solving puzzles and math/CS problems and has been active in math and programming contests since high school, representing Singapore at the International Olympiad in Informatics four times. This is his third semester organizing PClassic.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img width="240" src="/files/images/organizers/ben.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Ben Sandler</strong> is a junior at Penn in the Computer and Cognitive Science dual-degree program. He went to Cypress Bay High School in Weston, Florida where he led the competitive programming team. He is the lead developer at ThirdEye, a founding member of Hack4Impact, and a research assistant at the Institute for Research in Cognitive Science. This is his third semester organizing PClassic.</p>
  </div>
</div>


<p>There are a couple more folks on the organizing team not shown here; their bios are coming soon.</p>
