<h4>Organizers</h4>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ziwen.jpg" />
  </div>
  <div class="col-5">
    <b>Ziwen Hou</b> is the leader of PClassic. He is a senior studying Computer Science with a minor in Data Science. Aside from coding, he also enjoys playing video games and watching shows. His other hobbies will always fluctuate, which includes learning how to draw and learning how to play piano. Though his interests are not always the same, he like to push forward to learn new things and try new experiences!
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/meggie.jpg" />
  </div>
  <div class="col-5">
    <b>Meggie Cheng</b> is a senior in Digital Media Design in SEAS. She was born in NYC but was raised in Houston, Texas and went to Cypress Woods High School. Her hobbies include competitive programming (did in high school), digital painting, reading webtoons.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/tien.jpg" />
  </div>
  <div class="col-5">
    <b>Tien Pham</b> is a senior enrolled in the Penn Computer and Cognitive Science: Artificial Intelligence program. He moved from Vietnam at the age of five and attended Emmaus High School. Throughout his four years there, he participated in a multitude of programming contests. This is his first year on the PClassic organizing team.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Brian Chen</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/vatsin.jpg" />
  </div>
  <div class="col-5">
    <b>Vatsin Suchak</b> is a senior at Penn, currently studying computer science and math. He is a TA for a discrete math course at Penn, CIS 160. He also enjoys watching motorsports, playing the guitar, and loves dogs.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ani.jpg" />
  </div>
  <div class="col-5">
    <b>Ani Machaidze</b> is a senior studying Computer Science with a minor in Engineering Entrepreneurship. She is from Tbilisi, Georgia. During high-school she competed in several national programming competitions in Georgia. In her free time, she enjoys photography, playing ping-pong, and watching TV shows.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Andrew Zhao</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ethan.jpeg" />
  </div>
  <div class="col-5">
    <b>Ethan Chee</b> is a sophomore studying Computer Science.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Grace Lee</b> Not pictured
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ishaan.png" />
  </div>
  <div class="col-5">
    <b>Ishaan Lal</b> is a sophomore studying Computer Science and Mathematics. He went to Emmaus High School, and participated in plenty of programming and math competitions. Some of his hobbies include solving crossword puzzles, speedrunning arithmetic, playing music, and gardening.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/p.png" />
  </div>
  <div class="col-5">
    <b>Aaron Mei</b> Not pictured
  </div>
</div>
<h4>Alumni</h4>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/stephanie.png" />
  </div>
  <div class="col-5">
    <b>Stephanie Shi</b> was a 2020 alumni who studied Computer Science and Statistics in the Jerome Fisher Program in Management and Technology. Stephanie was a TA for CIS 160, one of Penn’s introductory computer science classes, and the Education Chair for Hack4Impact. Stephanie is passionate about design, math, and instant ramen.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/brandon.jpg" />
  </div>
  <div class="col-5">
    <b>Brandon Lin</b> was a 2020 alumni who studied computer science and data science in SEAS. He likes coding in Python and learning about mathematics and enjoys solving Rubik's Cubes, singing &amp; playing music, and making origami.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/pedro.jpg" />
  </div>
  <div class="col-5">
    <b>Pedro Sacramento</b> was a 2021 alumni who studied math and computer science in SEAS. His favorite programming language is C++ (by far), he likes reading, cats and watching tons of YouTube videos.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/james.jpg" />
  </div>
  <div class="col-5">
     <b>James Hu</b> was a 2020 alumni who studied Computer Science with minors in Mathematics and Statistics. He was on the Penn rugby team. He also enjoys camping, skateboarding, and playing video games with friends.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/eric.jpg" />
  </div>
  <div class="col-5">
    <b>Eric Wang</b> was a 2020 alumni who studied computer science. In his free time, Eric enjoys coding and contributing to open source projects.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/ying.jpg" />
  </div>
  <div class="col-5">
    <b>Yingxuan Eng</b> is a senior studying computer science in SEAS. He enjoys mathematics as well as writing code to solve problems from various disciplines. In his free time, he likes to read, binge-watch TV series, and play Smash.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/roger.jpg" />
  </div>
  <div class="col-5">
    <b>Roger Zhang</b> was a 2018 alumni who studied computer science. He likes to use the computer science knowledge he learns from the classroom to make really useless programs with Java and Python. Outside of programming, he enjoys playing guitar hero and hanging out with friends.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/erik.jpg" />
  </div>
  <div class="col-5">
    <b>Erik Zhao</b> was a 2019 alumni who studied computer science and robotics in SEAS. In his free time, he enjoys ice skating, crosswording, and playing strategy games.
  </div>
</div>
