<h4>Organizers</h4>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/lewis.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Lewis Ellis</strong> is a senior at Penn studying Networked & Social Systems, a branch of computer science focusing on applications of network theory. He went to a small school in Idaho, where he taught himself to program and ran track. He has been a computer science teaching assistant for seven semesters and has organized PennApps for four semesters. He interned at App.net and Shape Security during the summer of 2014. He was in charge of PClassic for three semesters, but now he's passing it on and mostly just builds the submission system.
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/nate.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Nate Chodosh</strong> is a sophomore in the School of Engineering and Applied Science studying Computer Science. He went to West Chester East High school in West Chester, Pennsylvania where he was active in programming contests and even participated in PClassic. In addition to  organizing PClassic for the fourth time, now as co-lead, he works on microrobotics in the GRASP laboratory, and also plays for Penn's club Badminton team.
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/max.png">
  </div>
  <div class="eight columns">
    <p><strong>Max Scheiber</strong> is a senior at Penn studying computer science, finance, and statistics in the Jerome Fisher Program in Management and Technology. He went to a performing arts high school in Florida, where he studied all saxophone and no computer science. He has been a computer science teaching assistant for seven semesters, has been a PennApps finalist, and is an inaugural member of the PennApps Accelerator. He interned at Chegg and Palantir Technologies. This is his fourth semester organizing PClassic.
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/jake.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Jake Hart</strong> is a junior at Penn studying computer science, finance, and statistics in the Jerome Fisher Program in Management and Technology. Jake went to a public school in Ohio, where he enjoyed playing football; Jake learned to program after deleting a program he needed for a math test, and he's loved it ever since! Jake is a teaching assistant for both computer science and statistics courses. This is Jake's 4th semester organizing PClassic and his 3rd organizing PennApps. Outside of school, Jake enjoys watching his beloved Cleveland sports teams.
  </div>
</div>

<p>There are also three new folks on the organizing team for 2014-2015! Their bios are coming soon.</p>
