<h4>Organizers</h4>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/stephanie.png" /> 
  </div>
  <div class="col-5">
    <b>Stephanie Shi</b> is a junior studying Computer Science and Statistics in the Jerome Fisher Program in Management and Technology. Stephanie is a TA for CIS 160, one of Penn’s introductory computer science classes, and the Education Chair for Hack4Impact. Stephanie is passionate about design, math, and instant ramen.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/brandon.jpg" />
  </div>
  <div class="col-5">
    <b>Brandon Lin</b> is a junior studying computer science and data science in SEAS. He likes coding in Python and learning about mathematics and enjoys solving Rubik's Cubes, singing &amp; playing music, and making origami.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/meggie.jpg" />
  </div>
  <div class="col-5">
    <b>Meggie Cheng</b> is a freshman in Digital Media Design in SEAS. She was born in NYC but was raised in Houston, Texas and went to Cypress Woods High School. Her hobbies include competitive programming (did in high school), digital painting, reading webtoons
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/pedro.jpg" />
  </div>
  <div class="col-5">
    <b>Pedro Sacramento</b> is currently a sophomore studying math and computer science in SEAS. His favorite programming language is C++ (by far), he likes reading, cats and watching tons of YouTube videos.   
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/william.jpg" />
  </div>
  <div class="col-5">
    <b>William Wang</b> is a freshman studying Systems Engineering and Finance at Penn. He is from Moorestown, NJ, where he attended Moorestown High School and competed in math and programming contests. William is also the Freshman Representative for Penn Engineering Council, and in his free time enjoys scuba diving, football, and Seinfeld.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/james.jpg" />
  </div>
  <div class="col-5">
     <b>James Hu</b> is a sophomore studying Computer Science with minors in Mathematics and Statistics. He's on the Penn rugby team, and he also enjoys camping, skateboarding, and playing video games with friends.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/eric.jpg" />
  </div>
  <div class="col-5">
    <b>Eric Wang</b> is a sophomore studying computer science. In his free time, Eric enjoys coding and contributing to open source projects.
  </div>
</div>
<div class="row">
  <div class="col-5">
    <img src="/files/images/organizers/tien.jpg" />    
  </div>
  <div class="col-5">
    <b>Tien Pham</b> is a freshman enrolled in the Penn Computer and Cognitive Science: Artificial Intelligence program. He moved from Vietnam at the age of five and attended Emmaus High School. Throughout his four years there, he participated in a multitude of programming contests. This is his first year on the PClassic organizing team.
  </div>
</div>
