<h4>Organizers</h4>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/lewis.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Lewis Ellis</strong> is a senior at Penn studying Networked & Social Systems, a branch of computer science focusing on applications of network theory. He went to a small school in Idaho, where he taught himself to program and ran track. He has been a computer science teaching assistant for seven semesters and has organized PennApps for four semesters. He interned at App.net and Shape Security during the summer of 2014. He was in charge of PClassic for three semesters, but now he's passing it on and mostly just builds the submission system.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/nate.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Nate Chodosh</strong> is a sophomore in the School of Engineering and Applied Science studying Computer Science. He went to West Chester East High school in West Chester, Pennsylvania where he was active in programming contests and even participated in PClassic. In addition to  organizing PClassic for the fourth time, now as co-lead, he works on microrobotics in the GRASP laboratory, and also plays for Penn's club Badminton team.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/max.png">
  </div>
  <div class="eight columns">
    <p><strong>Max Scheiber</strong> is a senior at Penn studying computer science, finance, and statistics in the Jerome Fisher Program in Management and Technology. He went to a performing arts high school in Florida, where he studied all saxophone and no computer science. He has been a computer science teaching assistant for seven semesters, has been a PennApps finalist, and is an inaugural member of the PennApps Accelerator. He interned at Chegg and Palantir Technologies. This is his fourth semester organizing PClassic.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="/files/images/organizers/jake.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Jake Hart</strong> is a junior at Penn studying computer science, finance, and statistics in the Jerome Fisher Program in Management and Technology. Jake went to a public school in Ohio, where he enjoyed playing football; Jake learned to program after deleting a program he needed for a math test, and he's loved it ever since! Jake is a teaching assistant for both computer science and statistics courses. This is Jake's 4th semester organizing PClassic and his 3rd organizing PennApps. Outside of school, Jake enjoys watching his beloved Cleveland sports teams.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img width="240" src="/files/images/organizers/zhan.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Zhan Xiong Chin</strong> is a freshman at Penn studying Computer Science. He comes from Singapore, which is halfway around the world and not in China. He enjoys solving puzzles and math/CS problems and has been active in math and programming contests since high school, representing Singapore at the International Olympiad in Informatics four times. This is his second semester organizing PClassic.</p>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img width="240" src="/files/images/organizers/ben.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Ben Sandler</strong> is a freshman at Penn in the Computer and Cognitive Science dual-degree program. He went to Cypress Bay High School in Weston, Florida where he led the competitive programming team. He is the lead developer at ThirdEye, a founding member of Hack4Impact, and a research assistant at the Institute for Research in Cognitive Science. This is his second semester organizing PClassic.</p>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <img width="240" src="/files/images/organizers/alex.jpg">
  </div>
  <div class="eight columns">
    <p><strong>Alex Hu</strong> is a sophomore in the School of Engineering and Applied Science studying Mechanical Engineering. He went to Strath Haven High School in Wallingford Pennsylvania where he did lots of FIRST robotics. He started organizing PennApps when he came to Penn, and then moved on to help with PClassic. This is his second semester organizing PClassic.</p>
  </div>
</div>

<p>There are a couple more folks on the organizing team not shown here; their bios are coming soon.</p>
