<h4>Photos</h4>
<p>These photos are from Fall 2013. We also have photos from Fall 2014 which will be put up soon!</p>
<ul class="no-bullet">
<!--   <li><img src="/files/images/small/DSC_0049.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0059.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0060.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0096.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0113.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0123.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0128.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0135.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0152.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0158.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0169.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0172.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0175.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0182.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0186.JPG" alt=""></li> -->
</ul>

<div id="pclassicPhotos" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item carousel-item active">
      <img class="img-responsive" src="/files/images/small/DSC_0049.JPG" alt="">
    </div>
    <div class="item carousel-item active">
      <img class="img-responsive" src="/files/images/small/DSC_0059.JPG" alt="">
    </div>
  </div>
  <a class="left carousel-control-prev" href="#pclassicPhotos" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="left carousel-control-next" href="#pclassicPhotos" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>