<h4>Photos</h4>
<p>These photos are from Fall 2013. We also have photos from Fall 2014 which will be put up soon!</p>
<ul class="no-bullet">
  <li><img src="/files/images/small/DSC_0049.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0059.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0060.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0096.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0113.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0123.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0128.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0135.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0152.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0158.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0169.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0172.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0175.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0182.JPG" alt=""></li>
  <li><img src="/files/images/small/DSC_0186.JPG" alt=""></li>
</ul>
