<h4>Past Problems</h4>
<ul class="no-bullet">
  <li>2022f: <a href="/files/problems/PClassic2022fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2022fSolutions.pdf">Solutions</a></li>
  <li>2022s: <a href="/files/problems/PClassic2022sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2022sSolutions.pdf">Solutions</a></li>
  <li>2021f: <a href="/files/problems/PClassic2021fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2021fSolutions.zip">Solutions</a></li>
  <li>2019f: <a href="/files/problems/PClassic2019fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2019fSolutions.zip">Solutions</a></li>
  <li>2019s: <a href="/files/problems/PClassic2019sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2019sSolutions.zip">Solutions</a></li>
  <li>2018f: <a href="/files/problems/PClassic2018fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2018fSolutions.zip">Solutions</a></li>
  <li>2018s: <a href="/files/problems/PClassic2018sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2018sSolutions.zip">Solutions</a></li>
  <li>2017f: <a href="/files/problems/PClassic2017fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2017fSolutions.zip">Solutions</a></li>
  <li>2017s: <a href="/files/problems/PClassic2017sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2017sSolutions.zip">Solutions</a></li>
  <li>2016f: <a href="/files/problems/PClassic2016fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2016fSolutions.zip">Solutions</a></li>
  <li>2016s: <a href="/files/problems/PClassic2016sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2016sSolutions.zip">Solutions</a></li>
  <li>2015f: <a href="/files/problems/PClassic2015fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2015fSolutions.zip">Solutions</a></li>
  <li>2015s: <a href="/files/problems/PClassic2015sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2015sSolutions.zip">Solutions</a></li>
  <li>2014f: <a href="/files/problems/PClassic2014fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2014fSolutions.zip">Solutions</a></li>
  <li>2014s: <a href="/files/problems/PClassic2014sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2014sSolutions.zip">Solutions</a></li>
  <li>2013f: <a href="/files/problems/PClassic2013fProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2013fSolutions.zip">Solutions</a></li>
  <li>2013s: <a href="/files/problems/PClassic2013sProblems.pdf">Problems</a>, <a href="/files/problems/PClassic2013sSolutions.zip">Solutions</a></li>
  <li>2012: <a href="/files/problems/PClassic2012Problems.pdf">Problems</a>, <a href="/files/problems/PClassic2012TestCases.zip">Test cases</a></li>
  <li>2011: <a href="/files/problems/PClassic2011Problems.pdf">Problems</a></li>
  <li>2010: <a href="/files/problems/PClassic2010Problems.pdf">Problems</a></li>
  <li>2009: <a href="/files/problems/PClassic2009Problems.pdf">Problems</a></li>
  <li>2008: <a href="/files/problems/PClassic2008Problems.pdf">Problems</a></li>
  <li>2007: <a href="/files/problems/PClassic2007Problems.pdf">Problems</a></li>
  <li>2001: <a href="/files/problems/PClassic2001Problems.pdf">Problems</a></li>
</ul>
<h4>Other Resources</h4>
<ul class="no-bullet">
  <li><a href="http://code.google.com/codejam/contests.html">Google Code Jam</a></li>
  <li><a href="http://usaco.org/index.php?page=training">USACO Training Problems</a></li>
  <li><a href="http://www.hpcodewars.org/index.php?page=samples">HP Codewars</a></li>
  <li><a href="http://projecteuler.net/problems">Project Euler</a></li>
</ul>
