<h3>Rules &amp; Format</h3>
<ul class="no-bullet">
  <li><a href="/files/PClassicRulesInfoSchedule.pdf">Rules, Info, Schedule</a> (Updated November 12, 2022) [added Tech Talk details]</li>
  {{!-- <li><a href="/files/PClassicWaiver.pdf">Waiver PDF</li> --}}
</ul>
