<h3>Rules &amp; Format</h3>
<ul class="no-bullet">
  <li><a href="/files/PClassicRulesInfoSchedule.pdf">Rules, Info, Schedule</a> (Updated Feb 2020)</li>
  <li><a href="/files/PClassicWaiver.pdf">Waiver PDF</li>
</ul>
