<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PClassic</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/files/css/normalize.css">
  <link rel="stylesheet" href="/files/css/skeleton.css">
  <link rel="stylesheet" href="/files/css/pclassic.css">

  <link rel="icon" type="image/png" href="/files/images/favicon.png" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve column header">
        <h2 class="header">Philadelphia Classic</h2>
        <hr class="no-margin" />
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <ul class="nav">
          <li><a href="/">About</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/problems">Problems</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/mail">Mailing List</a></li>
          <li><a href="http://twitter.com/_pclassic">Twitter</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/history">History</a></li>
          <li><a href="/organizers">Organizers</a></li>
          <li><a href="http://dp.seas.upenn.edu/">DinPhil</a></li>
        </ul>
      </div>
      <div class="ten columns">
        {{{body}}}
      </div>
    </div>
  </div>
</body>
</html>
